body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    transition: transform 0.5s ease-out;
}

#searchBar {
    width: 400px;
    padding: 10px 30px 10px 10px; ;
    font-size: 14px;
    margin-bottom: 60px;
    transition: opacity 0.5s ease-out;
    background-color: #c6c6c6;
    outline-color:transparent;
    border-color: transparent;

    
    
}

#wordCloudContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-top: auto;
    transition: opacity 0.5s ease-in;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #000;
    display: none;  /* Hidden by default */
}

.word {
    margin: 5px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.word:hover {
    transform: scale(1.2);
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}
.moved-up {
    transform: translateY(-150px);
}